#menu-outer
{
    height: 84px;
    background:
}

.table{
    display: table;
    marrgin: 0 auto;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
}

ul#horizontal-list li {
display: inline;
}